a {
  text-decoration: none;
  color: inherit;
}

.header{
  list-style: none;
  text-align: center;
  padding: 0 25px 0 25px;
  background-color: #3c3c3c;
  font-size: 1.5em
}

.header > li {
  display: inline-block;
  padding: 5px 25px 5px 25px;
  color: #dfdfdf
}

.header > li > a:hover {
  color: #909090;
  text-shadow: 0 3px #242424
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.post {
  list-style: none;
  text-align: center;
  
}
