a {
  text-decoration: none;
  color: inherit;
}

html, body{
  margin: 0;
  padding: 0;
}

.header{
  list-style: none;
  text-align: center;
  padding: 0 25px 0 25px;
  background-color: #3c3c3c;
  font-size: 1.5em
}

.header a {
  display: inline-block;
  padding: 5px 25px 5px 25px;
  color: #dfdfdf
}

.header a:hover {
  color: #ffffff;
  text-shadow: 0 3px #242424;
  background-color: #1f1e1e
}



img.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.post {
  list-style: none;
  text-align: center;
  align-items: center;

}
